@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

.container-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #9882cc;
  background-color: #d6bde988;
  /* background:linear-gradient(45deg,#B7A6DE,#E0C5F5); */
}



.description-hero {
  
 /*  border: 1px solid #9882cc; */
  /* box-shadow: 5px 3px 16px 5px black; */
  /* background-color: #eee; */
  color: #fff;
  background: linear-gradient(to bottom, #d5a6de, #fabcee);
  border-radius: 1rem;
 /*  width: 500px; */
  padding: 1.5rem;
  max-width: 50%;
  /* margin: 2rem; */
  font-family: "Mooli", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 1.5rem;

}

.description-hero p {
  font-size: 1.2rem;
}

.container-hero h3,h4 {
  margin-top: 2rem;
  font-family: "Mooli", sans-serif;
  font-weight: bold;
  
}

.container-hero-nuevo{
  font-family: "Mooli", sans-serif;
  text-align: center;
  margin: 2rem;
  border-radius: 50px;
  min-height: 20vh;
  padding: 1rem;
  background-color: #9882cc;
  color: #fff;
}

.container-hero-nuevo p{
  font-size: 1.1rem;
  
  font-weight: 500;
}

.container-hero-nuevo a{
  text-decoration: none;
  border-bottom: 2px solid #fabcee;
  color: #e2b8da;
  font-weight: 600;
  font-size: 1.1rem;
}

@media (max-width:580px){

  .description-hero{
    padding: 1.5rem;
    max-width: 80%;
    margin: 2rem;
  }

  .container-hero h3 {
    margin-top: 2rem;
    
  }
}