@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #732634; */
  background: linear-gradient(to bottom, #d5a6de, #fabcee);
  min-height: 15vh;
}

.logo-and-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
}

.logo-navbar {
  display: flex;
  flex-direction: column;
}

.logo {
  opacity: 1;
  display: inline;
  object-fit: cover;
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
}

.title-navbar a {
  font-family: "Mooli", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  display: inline;
  margin-left: 1rem;
  will-change: font-size;
  transition: font-size 0.3s ease-in-out;
}

.title-navbar a:hover {
  color: #9882cc;
  font-size: 2.5rem;
  
}



.links-navbar a {
  font-family: "Mooli", sans-serif;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  display: inline;
  margin-right: 2rem;
  will-change: font-size;
  transition: font-size 0.3s ease-in-out;
  font-size: 20px;
  padding: 0.5rem;
}

.links-navbar a:hover {
  font-size: 26px; 
  color: #9378d3;
}



.btn-navbar {
  padding: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  background-color: white;
  margin-left: 3rem;
}

@media (max-width: 500px) {
  .logo {
    display: none;
  }
  .links-navbar a {
    display: flex;
    margin-top: 0.5rem;
    justify-content: center;
  }
}




.mobile-menu {
  position: relative;
}

.menu-button {
  background: none;
  color: #fff;
  border: none;
  font-size: 32px;
  cursor: pointer;
  position: absolute;
  top: -25px;
  right: 10px;
}

.menu-dropdown {
  position: absolute;
  top: 14px;
  right: 10px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 25px 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  font-family: "Mooli", sans-serif;
  color: #fff;
  font-weight: bold;
  z-index: 2;
  
}

.menu-dropdown a {
  text-decoration: none;
  text-align: center;
  color: #9378d3;
  margin-bottom: 5px;
  border-bottom: 1px solid #9378d3 ;
}


@media screen and (max-width: 600px) {
  /* Oculta el menú horizontal en pantallas pequeñas */
  .links-navbar {
    display: none;
  }

  /* Muestra el botón de menú en pantallas pequeñas */
  .menu-button {
    display: block;
  }


}

@media screen and (min-width: 600px) {
  /* Oculta el menú horizontal en pantallas pequeñas */
  .links-navbar {
    display: block;
  }

  /* Muestra el botón de menú en pantallas pequeñas */
  .menu-button {
    display: none;
  }
  .menu-dropdown{
    display: none;
  }

}